
    <div class="container mt-5">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Exibir todos os alunos</h5>
                            
                            <p class="card-text">contém a lista de nomes de todos o alunos</p>
                           
                            <a asp-action="ListaAlunos" class="card-link">Acessar todos os alunos</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Exibir Competidores</h5>
                          
                            <p class="card-text">contém a lista de nomes dos alunos em competição.</p>
                            
                            <a asp-action="Competidores" class="card-link"> acessar alunos na competiçao</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title"> ganhador da competicao</h5>
                     
                            <p class="card-text">contém o nome do ganhador da competicao.</p>
                            <a asp-action="VencedorCompeticao" class="card-link"> acessar vencedor da competicao</a>
                           
                        </div>
                    </div>                
                
                </div>
            </div>
        </div>
    </div>