@model List<Turmas>;

<div>
    
    @foreach (var item in Model)
    {

        @foreach (var item2 in item.alunos)
        {
            <div class="row  bg-light mt-1">
                <div class="col"><span class="fonteDados"> @item.IdTurma</span></div>

                <div class="col"> @item2.Nome</div>

                @foreach (var item3 in item2.Provas)
                {
                    <div class="col"> @item3.Nota</div>
                }

            </div>
        }

    }

</div>